/Users/jzozaya/Documents/development/GitHub Repo/Onload/css
/Users/jzozaya/Documents/development/GitHub Repo/Onload/Futura Std
/Users/jzozaya/Documents/development/GitHub Repo/Onload/images
/Users/jzozaya/Documents/development/GitHub Repo/Onload/index.html
/Users/jzozaya/Documents/development/GitHub Repo/Onload/js
/Users/jzozaya/Documents/development/GitHub Repo/Onload/nike_flyknit_web-01.svg
/Users/jzozaya/Documents/development/GitHub Repo/Onload/nike_flyknit_web.ai
/Users/jzozaya/Documents/development/GitHub Repo/Onload/README.md
/Users/jzozaya/Documents/development/GitHub Repo/Onload/sftp-config.json